footer{
    background-color: #04091e;
    padding: 100px 0;
    @include media-breakpoint-down(md){
        padding: 40px 0;
    }
    .single-footer-widget {
        color: $white;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.625em;
        @include media-breakpoint-down(md){
            margin-bottom: 20px;
        }
        h6 {
            color: $white;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
            font-weight: 300;
            line-height: 1.625em;
            color: #777777;
        }
    }
    #mc_embed_signup{
        .form-inline {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .form-group{
                width: 100%;
                @include media-breakpoint-down(xs){
                    display: flex;
                    flex: 0 0 auto;
                    flex-flow: row wrap;
                    align-items: center;
                    margin-bottom: 0;
                } 
            }   
        }
        input {
            line-height: 38px;
            border: none;
            background: $white;
            font-weight: 300;
            color: #777;
            padding-left: 20px;
            width: 100%;
            @include media-breakpoint-down(md){
                margin-bottom: 20px;
            }
        }
        .click-btn {
            background-color: $theme-color;
            color: $white;
            border-radius: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding: 8px 12px;
            border: 0;
        }
        .primary-btn {
            background-color: $theme-color;
            line-height: 42px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 25px;
            border: none;
            color: $white;
            display: inline-block;
            font-weight: 500;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            text-transform: uppercase;
            position: relative;
            background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);

        }
    }
    .social{
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            a{
                color: $white;
                padding: 20px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}