<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Security Services</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-9">
                    <h6 class="text-white">Openning on 21st February, 2018</h6>
                    <h1 class="text-white">
                        Exhibition on Modern Era
                    </h1>
                    <p class="pt-20 pb-20 text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim. sed do eiusmod tempor incididunt..
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="service-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Our Offered Services</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service">
                        <div class="thumb">
                            <img class="img-fluid" src="images/s1.jpg" alt="">
                        </div>
                        <div class="detail">
                            <a href="#">
                                <h4>Basic &amp; Common Repairs</h4>
                            </a>
                            <p>
                                Computer users and programmers have become so accustomed to using Windows, even for the changing
                                capabilities and the appearances of the graphical.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <div class="thumb">
                            <img class="img-fluid" src="images/s2.jpg" alt="">
                        </div>
                        <div class="detail">
                            <a href="#">
                                <h4>Brake Repairs &amp; Services</h4>
                            </a>
                            <p>
                                Computer users and programmers have become so accustomed to using Windows, even for the changing
                                capabilities and the appearances of the graphical.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <div class="thumb">
                            <img class="img-fluid" src="images/s3.jpg" alt="">
                        </div>
                        <div class="detail">
                            <a href="#">
                                <h4>Preventive Maintenance</h4>
                            </a>
                            <p>
                                Computer users and programmers have become so accustomed to using Windows, even for the changing
                                capabilities and the appearances of the graphical.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="feature" class="feature-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Some Features that Made us Unique</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="far fa-user"></i> Expert Technicians</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="far fa-id-badge"></i> Professional Service</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="fa fa-phone"></i> Great Support</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="fas fa-rocket"></i> Technical Skills</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="far fa-gem"></i> Highly Recomended</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <h4><i class="fas fa-comment-dots"></i> Positive Reviews</h4>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section id="facts-area" class="facts-area section-gap">
        <div class="container">
            <div class="row text-center">
                <div class="col single-fact">
                    <h1 class="counter">2536</h1>
                    <p>Projects Completed</p>
                </div>
                <div class="col single-fact">
                    <h1 class="counter">6784</h1>
                    <p>Really Happy Clients</p>
                </div>
                <div class="col single-fact">
                    <h1 class="counter">1059</h1>
                    <p>Total Tasks Completed</p>
                </div>
                <div class="col single-fact">
                    <h1 class="counter">2239</h1>
                    <p>Cups of Coffee Taken</p>
                </div>
                <div class="col single-fact">
                    <h1 class="counter">434</h1>
                    <p>In House Professionals</p>
                </div>
            </div>
        </div>
    </section>
    <section id="gallery" class="galery-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8 text-center">
                    <h1 class="mb-10">Latest From Our Gallery</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-7 col-md-6">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g1.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-5 col-md-6">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g2.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g3.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g4.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g5.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-5 col-md-6">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g6.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-7 col-md-6">
                    <a href="#" class="single-gallery">
                        <img class="img-fluid" src="images/g7.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="blog-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8 text-center">
                    <h1 class="mb-10">Latest From Our Blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b1.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="blog-single.html">
                        <h4>Addiction When Gambling
                            Becomes A Problem</h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><i class="far fa-heart"></i> 15 Likes</p>
                        <p><i class="far fa-comment"></i> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b2.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="blog-single.html">
                        <h4>Addiction When Gambling
                            Becomes A Problem</h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><i class="far fa-heart"></i> 15 Likes</p>
                        <p><i class="far fa-comment"></i> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b3.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="blog-single.html">
                        <h4>Addiction When Gambling
                            Becomes A Problem</h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><i class="far fa-heart"></i> 15 Likes</p>
                        <p><i class="far fa-comment"></i> 02 Comments</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="images/b4.jpg" alt="">
                    </div>
                    <p class="date">10 Jan 2018</p>
                    <a href="blog-single.html">
                        <h4>Addiction When Gambling
                            Becomes A Problem</h4>
                    </a>
                    <p>
                        inappropriate behavior ipsum dolor sit amet, consectetur.
                    </p>
                    <div class="meta-bottom d-flex justify-content-between">
                        <p><i class="far fa-heart"></i> 15 Likes</p>
                        <p><i class="far fa-comment"></i> 02 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>